body {
  /* background-color: #FEFDED; */
  background-color: #f8f9ff;
  text-shadow: 0 0 5px white;
  /* color: #A34343; */
  color: #6e2323;
}

.logo {
  /* width: 100px; */
  height: 60px;
  /* height: 100%; */
  /* padding: 10px; */
  padding-top: 30px;
  padding-left: 30px;
  /* 15px; */
}

.header {
  top: -15px;
  /* height: 20%; */
  width: 100%;
  background-color: white;
  border-bottom: 3px solid white;
  padding-bottom: 3px;
  /* border: 1px solid black; */
}

.desktopTable {
  padding: 20px;
  top: -10px;
  right: 0;
  text-align: center;
}

.desktopTable > tr > th {
  /* text-decoration: underline; */
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.phoneTable > tr > th{
/* th { */
  /* border: 1px solid #A34343; */
  padding: 10px;
}

.phoneTable {
  width: 100%;
  table-layout: fixed;
  bottom: 0;
  /* border-top: 3px solid #A34343; */
  background-color: white;
}

table {
  position: fixed;
}

.body {
  position: fixed;
  top: 90px;
  width: 100%;
  /* display: flex; */
  /* background-color: #3a0101; */
  /* padding-left: 20px;
  padding-right: 20px; */
}

.footer {
  text-align: center;
}