.logo {
  /* width: 100px; */
  height: 60px;
  /* padding: 10px; */
  padding-top: 30px;
  padding-left: 30px;
  /* 15px; */
}

.header {
  top: -10px;
}

.desktopTable {
  padding: 20px;
  top: -5px;
  right: 0;
  text-align: center;
}

.desktopTable > tr > th {
  text-decoration: underline;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.phoneTable > tr > th{
/* th { */
  border: 1px solid #3a0101;
  padding: 10px;
}

.phoneTable {
  width: 100%;
  table-layout: fixed;
  bottom: 0;
}

table {
  position: fixed;
}

.body {
  position: fixed;
  top: 80px;
  width: 100%;
  /* background-color: #3a0101; */
  /* padding-left: 20px;
  padding-right: 20px; */
}

.footer {
  text-align: center;
}